/*Here put the code for the index styles*/

.text-title {
    color: #050A5C;
    font-weight: 600;
}

.txt-050a5c {
    color: #050A5C;
}

.back-ffffff {
    background: #FFFFFF;
}

.back-050a5c {
    background: #050A5C;
}

.radius {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}
html,body{
    font-family: Roboto, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
    top: 0;
    left: 0;
}
.carousel-inner{
    height:200px;
   }
.detalles{
 background-color: #000080;
}
a{
    text-decoration: none;
    color: rgb(34, 54, 69,.7);
    font-weight: 500;
}
a:hover {
    color: red;
}
.navbar{
    padding: 0rem 2rem;
    min-height: 12vh;
}
.navbar .navbar-brand a{
    padding: 1rem 0;
    display: block;
    text-decoration: none;
}
li{
    padding-left: 50px;
    list-style-position: inside;
    list-style-type: disc;
   }
   .det{
    padding-left: 50px;
    list-style-position: inside;
    list-style-type: disc;
   }
.navbar-brand{
    font-size: 2.5rem;
    color: #e74c3c;
}
.navbar-toggler{
 background: black;
 border: none;
 padding: 10px 6px;   
}
.cont{
    padding-left:6%;
}



/* .horizontal-gradient {
    background: linear-gradient(to right, #FFFFFF, #050A5C);
} */